<div class="container">
    <div *ngIf="!submitted">
      <h2>Add Tourist</h2>
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
          <label for="firstName">Frist name</label>
          <input type="text" class="form-control" id="firstName"
                 required
                 [(ngModel)]="model.firstName" name="firstName"
                 #name="ngModel">
          <!-- <div *ngIf="firstName.valid || firstName.pristine"
               class="alert alert-danger">
            Frist name is required
          </div> -->
        </div>
  
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName"
                 [(ngModel)]="model.lastName" name="lastName">
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender"
                    required
                    [(ngModel)]="model.gender" name="gender"
                    #power="ngModel">
              <option *ngFor="let pow of gender" [value]="pow">{{pow}}</option>
          </select> 
          </div>
        <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control" id="country"
                    required
                    [(ngModel)]="model.country" name="country"
                    #power="ngModel">
              <option *ngFor="let pow of countries" [value]="pow">{{pow}}</option>
          </select> 

        

        <div class="form-group">
            <label for="remarks">Remarks</label>
            <input type="text" class="form-control" id="remarks"
                    [(ngModel)]="model.remarks" name="remarks">
          </div>
          <div class="form-group">
              <label for="dateOfBirth">Date of Birth </label>
              <input type="date" class="form-control" id="dateOfBirth"
                      [(ngModel)]="model.dateOfBirth" name="dateOfBirth">
            </div>
        
        </div>
  
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        <!-- <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>
        <i>with</i> reset
  
        &nbsp;&nbsp;
        <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
        <i>without</i> reset -->
       <!-- - -->
      </form>
    </div>
  
    <div *ngIf="submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Frist name: </div>
        <div class="col-xs-9">{{ model.firstName }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Departure: </div>  
        <div class="col-xs-9">{{ model.lastName }}</div>
      </div>

      <div class="row">
          <div class="col-xs-3">Arrival: </div>
          <div class="col-xs-9">{{ model.gender }}</div>
        </div>
      <div class="row">
        <div class="col-xs-3">Number of seats: </div>
        <div class="col-xs-9">{{ model.dateOfBirth }}</div>
      </div>

      <div class="row">
          <div class="col-xs-3">Ticket price: </div>
          <div class="col-xs-9">{{ model.remarks }}</div>
      </div>
      <div class="row">
          <div class="col-xs-3">Tourist: </div>
          <div class="col-xs-9">{{ model.tourist }}</div>
      </div>
      <br>
      <!-- <button class="btn btn-primary" (click)="submitted=false">Edit</button> -->
    </div> <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
