<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="tourists">
  <div class="w-100" id="list-flights">
    <h2>Tourists</h2>
    <div class="mat-app-background basic-container">
        <table mat-table class="table mat-elevation-z8" #table [dataSource]="dataSource" matSort>
          <!-- <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}} </th>
            <td mat-cell *matCellDef="let tourist"> {{tourist[column.id]}} </td>
          </ng-container> -->
      
          <ng-container matColumnDef="firstName" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
            <td mat-cell *matCellDef="let tourist"> {{tourist.firstName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="lastName" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let tourist"> {{tourist.lastName}} </td>
          </ng-container>
          <ng-container matColumnDef="gender" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
            <td mat-cell *matCellDef="let tourist"> {{tourist.gender}} </td>
          </ng-container>
          <ng-container matColumnDef="country" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Country  </th>
            <td mat-cell *matCellDef="let tourist"> {{tourist.country}} </td>
          </ng-container>
      
          <ng-container matColumnDef="remarks" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks  </th>
            <td mat-cell *matCellDef="let tourist"> {{tourist.remarks}} </td>
          </ng-container>
      
          <ng-container matColumnDef="dateOfBirth" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of birth  </th>
            <td mat-cell *matCellDef="let tourist"> {{tourist.dateOfBirth}} </td>
          </ng-container>
      
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>   
            <td mat-cell *matCellDef="let tourist"> 
              <a role="button" class="btn btn-primary" routerLink="/tourists/edit/{{tourist.id}}">Edit</a>  
              <a role="button" class="btn btn-danger">Delete</a> 
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      
        <a role="button" class="btn btn-success add-wide" routerLink="/tourists/add" routerLinkActive="active">Add</a>
      </div>
  
    </div>

  </section>