table{
    width: 100%;

    font: inherit;
}
mat-paginator{
    font: inherit;
}
td{
    font-size: medium;
    vertical-align: middle; 
}
th{
    font-weight: bold;
    font-size: large;
    vertical-align: middle !important; 
}
a.btn{
    margin: 5px;
}
a.btn.btn-danger{
    color: white;
}
.add-wide{
    width: 100%;
}