<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="flights">
  <div class="w-100" id="list-flights">
    <h2>Flights</h2>
    <div class="mat-app-background basic-container">
      <table mat-table class="table mat-elevation-z8" #table [dataSource]="dataSource" matSort>
        <!-- <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}} </th>
          <td mat-cell *matCellDef="let flight"> {{flight[column.id]}} </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let flight"> {{flight.id}} </td>
        </ng-container> -->

        <ng-container matColumnDef="title" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td mat-cell *matCellDef="let flight"> {{flight.title}} </td>
        </ng-container>

        <ng-container matColumnDef="ticketPrice" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket Price </th>
          <td mat-cell *matCellDef="let flight"> {{flight['ticketPrice']}} </td>
        </ng-container>
        <ng-container matColumnDef="numberOfSeats" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Availability </th>
          <td mat-cell *matCellDef="let flight"> {{flight['numberOfSeats']}} </td>
        </ng-container>
        <ng-container matColumnDef="departureTime" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Departure  </th>
          <td mat-cell *matCellDef="let flight"> {{flight['departureTime']*1000 | date}} </td>
        </ng-container>

        <ng-container matColumnDef="arrivalTime" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrival  </th>
          <td mat-cell *matCellDef="let flight"> {{flight['arrivalTime']*1000 | date}} </td>
        </ng-container>

        <ng-container matColumnDef="tourist" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tourist  </th>
          <td mat-cell *matCellDef="let flight"> {{flight.tourist}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>   
          <td mat-cell *matCellDef="let flight"> 
            <a role="button" class="btn btn-primary" routerLink="/flights/edit/{{flight.id}}">Edit</a>  
            <a role="button" class="btn btn-danger">Delete</a> 
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      <a role="button" class="btn btn-success add-wide" routerLink="/flights/add" routerLinkActive="active">Add</a>
    </div>

  </div>
  <!-- <div class="w-100" id="edit-flight">
    <app-edit-flight></app-edit-flight>
  </div> -->

</section>

<hr class="m-0">